.profile {
  width: 461px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 22px 0 34px 0;
}

.profileTitle {
  display: flex;
  justify-content: center;
}

.profileTitle__icon {
  position: relative;
  right: 6px;
  font-size: 40px;
}

.profileTitle__text {
  font-size: 28px;
}

.profileList {
  word-break: break-word;
  width: 94%;
  margin: 0 auto;
  padding-top: 12px;
}
