.hero {
  min-height: 100vh;
  margin-top: 100px;
}

.border {
  display: flex;
  align-items: center;
}

.border:before,
.border:after {
  content: '';
  height: 10px;
  flex-grow: 1;
  background: linear-gradient(to right, #291c61 0%, #aabe5c 150%);
}

.border:before {
  margin-right: 1rem;
}

.border:after {
  margin-left: 1rem;
}

.lists {
  padding-left: 0;
  margin-top: 50px;
}

.copyright {
  margin-top: 50px;
}
