@import-normalize;
/* bring in normalize.css styles */

@import './fonts.scss';
/* rest of app styles */

body {
  font-family: '8bit-12-regular';
  color: #fff;
  background: #333;
}

/* CSS Reset */

ul {
  padding-left: 0;
}
