@font-face {
  font-family: '8bit-10-bold';
  src: url('../fonts/PixelMplus10-Bold.ttf') format('truetype');
}

@font-face {
  font-family: '8bit-12-bold';
  src: url('../fonts/PixelMplus12-Bold.ttf') format('truetype');
}

@font-face {
  font-family: '8bit-12-regular';
  src: url('../fonts/PixelMplus12-Regular.ttf') format('truetype');
}
