@import-normalize;
/* bring in normalize.css styles */
@import './fonts.scss';

.profile {
  font-family: '8bit-12-regular';
  width: 442px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0 0 50px 16px;
}

.profile__title {
  font-size: 28px;
}

.profile__list {
  list-style: none;
  text-align: left;
  font-size: 16px;
}
